<<<<<<< HEAD
/*------------------ GENERAL----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  box-shadow: inset 0 0 0.9375em rgb(107, 104, 104);
}

main {
  background-color: rgb(253, 241, 227);
}

h1, 
h2 {
  color: #FD6985;
  font-size: 3em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
 
}

a:-webkit-any-link {
  cursor: pointer;
}

/*SECCION */

section {
  text-align: center;
}

.section-container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6em 1em 0 1em;
}

.section-container-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6em 1em 0 1em;
}

.parrafo-caja {
  font-size: 1.25em;
  font-weight: 600;
  padding-top: 0.7em;
}

.parrafo-caja2 {
  font-size: 1em;
  padding-top: 0.7em;
}
/*------------------ HEADER----------------- */

nav {
  display: flex;
  width: 100%;
  padding: 2em 5em;
  position: fixed;
  background-color: white;
  justify-content: flex-end;
  box-shadow: 0.0625em 0.0625em 1.25em rgb(212, 208, 208);
}

/* --items-nav-- */

.item {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em 0.25em 1em;
  letter-spacing: 8;
}

.i-activo:active{
  border: 1px solid #FD6985;
  border-radius: 1em;
}

.link_item{
  text-decoration: none;
  color: rgb(88, 85, 85);
  margin-right: 0.8em;
  list-style: none;
  font-size: 1.2em;
  letter-spacing: 0.0625em;
  padding-left: 1em;
  line-height: 1.5;
}

.link_item:hover{
  color: #FD6985;
}

.boton-contacto {
  width: 10%;
  background-color: #FD6985;
  border-radius: 28px;
  padding: 0.6em 1em;
  outline: none;
}

.boton-contacto:focus {
  border: 0.0625em solid rgb(88, 85, 85);
  border-radius: 1.25em;
  padding: 0.5em 1em;
}

a.item:active {
  transition: 0.2s;
  border: 0.0625em solid #FD6985;
  box-shadow: 0.0625em 0.0625em  0.0625em #FD6985;
  border-radius: 28px;
  padding: 0.2em 1em;
}

a.boton-contacto:hover {
  color: white;
  transition: 0.2s;
  background-color: #FD6985;
  opacity: 0.9;
  transition: 0.2s;
}

/*BARRA NAVEGACIÒN FIN */

/*SOBRE MI INICIO */

.columna {
  margin: 6em 10em;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content:space-around;
}

.caja_presentacion {
  width: 45%;
  min-width: 500px;
  
}

.imagen-presentacion {
  width: 45%;
  min-width: 500px;
}

/*--TITULO HOLA SOY -banner-- */

.titulo-hola {
  display: flex;
  align-content: flex-start;
  font-size: 3.125em;
  font-weight: 550;
  margin: 0 0 0 0;
}

.mi-nombre {
  display: flex;
  align-content: flex-start;
  font-size: 3.5em;
  font-weight: 900;
  color: #FD6985;
  margin: 0.05em 0 0 0;
  font-family: 'Montserrat', sans-serif;
}

.mi-descripcion {
  display: flex;
  color: gray;
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 0.7em;
}

.boton-lo-que-hago {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 39%;
  background-color: #FD6985;
  color: white;
  border-radius: 28px;
  padding: 1em 1em;
  font-size: 0.96em;
  font-weight: 700;
  margin: 2.2em 0 2.2em 0;
  transition: 0.2s;
  outline: none;
}

a.boton-lo-que-hago:hover {
  background-color: #FD6985;
  opacity: 0.9;
  transition: 0.2s;
}

/*SOBRE MI FIN */

/*MIS CONOCIMIENTOS INICIO */

.columna-2 {
 
  width: 100%;
  margin-bottom: 2em;
}

.texto-conoc {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2em;
  display: inline-block;
  justify-content: center;
  padding: 1em;
}

#caja-padre {
  width: 100%;
  padding: 1em ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja {
  background-color: rgb(245, 242, 215);
  width: 23%;
  min-width: 300px;
  margin: 1em;
  padding: 3em 0;
  border: 0.0625em solid #e9ecf7;
  border-radius: 9px;
  justify-content: space-evenly;
}

.caja:hover {
  border: 0.0625em solid #FD6985;
  color: #FD6985;
  box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
  border-radius: 10px;
}

.icono-conoc {
  font-size: 5em;
  justify-content: center;
}

.titulo-h2 {
  margin: 0 0 0.37em 0;
}

/* Caja-conocimientos  */

/* Caja-frase  */

.columna-3 {
  margin: 0 3.5em;
  width: 100%;
  background-color: #FD6985;
  display: flex;
  flex-direction: column;
}

#contenedor-info {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FD6985;
  padding: 6em 1em;
}

.icono-frase {
  font-size: 6em;
  color: #e9ecf7;
  justify-content: center;
  margin-bottom: 0.3em;
}

.frase {
  display: inline-block;
  justify-content: center;
  color: #e9ecf7;
  padding-bottom: 2em;
  font-size: 1.4rem;
  max-width: 800px;
}

.frase-autora {
  color: #e9ecf7;
  font-size: 1.5em;
  font-weight: 1000;
}

/* mis-trabajos */

.columna-4 {
  margin: 6em 3.5em;
  width: 100%;
}

#caja-padre-2 {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caja-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 242, 215);
  margin: 0.65em;
  padding: 3em 0.5em;
  border: 0.0625emsolid #e9ecf7;
  border-radius: 9px;
  align-items: center;
}

.caja-2:hover {
  border: 0.0625em solid #FD6985;
  color: #FD6985;
  box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
  border-radius: 10px;
}

.texto-proyectos {
  max-width: 450px;
  line-height: 1.5;
  font-size: 1.2em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.titulo-h2 {
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.img-conoc {
  width: 50%;
}

/* Contacto */


.seccion-contacto{
  background-color: #f5f5f5;
  box-shadow: inset -5px -10px 20px 0px #a3a3a3;
  display: flex;
  width: 100%;
  height: 90%;
  padding: 9.375em 2.5em;
  text-align: center;
  justify-content: center;
}

.box-contacto-principal{
  background: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #a8a8a8;
  padding: 4.375em 3.125em;
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

/***** Caja CONTACTAME ******************/
.box-contacto-contactame{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-right: 1.25em;
}

.box-contacto-texto{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding-right: 1.25em;
}

.box-contacto-texto>h2{
  width: 100%;
  font-size: 3.125rem;
  margin-bottom: 0.5em;
  color: #000;
}

.box-contacto-texto>p{
  font-size: 1.063rem;
  width: 90%;
  margin-bottom: 0.5em;
  line-height: 23px;
  color: #000;
}

.box-contacto-lista{
  display: flex;
  align-content:space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5em;
}

.box-contacto-lista>ul>li{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: .2em 0em .2em .1em;
  list-style: none;
}

.box-contacto-links{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  align-items: center;
  color: #000;
  padding: .1em .2em;
}

.box-contacto-links:active{
  border: 1px solid #FD6985;
  border-radius: 18px;
  box-shadow: 0px 0px 10px 0px #FD6985;
  padding: .1em .2em;
}

.box-contacto-links>.fa-instagram, .box-contacto-links>.fa-github-alt, .box-contacto-links>.fa-linkedin-in, .box-contacto-links>.fa-envelope{
  font-size: 2.5rem;
  margin-right: 0.2em;
  text-align: center;
  color: #FD6985;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%; 
  padding: .2em;
}

/***** Hover CONTACTAME ****************/

.box-contacto-links:hover{
  color: #FD6985;
}

.box-contacto-links:hover .fa-instagram, .box-contacto-links:hover .fa-github-alt, .box-contacto-links:hover .fa-linkedin-in, .box-contacto-links:hover .fa-envelope{
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #FD6985;
  border: 1px solid #FD6985;
  color: #ffffff;
  transition: .3s;
}

/*** Caja ESCRIBIME *********/

.box-contacto-escribime{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-left: 1.25em;
}

.box-contacto-escribime>h2{
  width: 100%;
  font-size: 3.125rem;
  margin-bottom: 0.5em;
}

label{
  font-size: 1rem;
  font-weight: 700;
}

.box-first-second-name{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  margin-bottom: .8em;
}

.box-name{
  flex: 0 1 45%;
  height: 100%;
  margin: 0em .5em .5em 0em;
}

.box-name>input{
  width: 100%;
  border: 1px solid #FD6985;;
  background-color: #db4b8236;
  border-radius: 20px;
  padding: .5em .8em;
  margin-top: .6em;
  outline-style: none;
}

.box-name>input:focus{
  box-shadow: 0px 0px 8px 2px #d6156f;
  background-color: #f876e236;
  transition: .1s;
}

.box-second-name{
  flex: 0 1 45%;
  height: 100%;
  margin: 0em 0em .5em .5em;
}

.box-second-name>input{
  width: 100%;
  border: 1px solid #FD6985;;
  background-color: #db4b8236;
  border-radius: 20px;
  padding: .5em .8em;
  margin-top: .6em;
  outline-style: none;
}

.box-second-name>input:focus{
  box-shadow: 0px 0px 8px 2px #d6156f;
  background-color: #f876e236;
  transition: .1s;
}

.box-email{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 15%;
  margin-bottom: .8em;
}

.box-email>input{
  width: 100%;
  border: 1px solid #FD6985;
  background-color: #db4b8236;
  border-radius: 20px;
  padding: .5em .8em;
  margin: .6em 0em;
  outline-style: none;
}

.box-email>input:focus{
  box-shadow: 0px 0px 8px 2px #d6156f;
  background-color: #f876e236;

  transition: .1s;
}

.box-textarea{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  margin-bottom: .8em;
}

.box-textarea>textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 80%;
  max-height: 80%;
  border: 1px solid #FD6985;
  background-color: #db4b8236;
  border-radius: 20px;
  padding: .5em .8em;
  margin: .6em 0em;
  outline-style: none;
  resize: none;
}

.box-textarea>textarea:focus{
  box-shadow: 0px 0px 8px 2px #FD6985;
  background-color: #f876e236;
  transition: .1s;
}

.boton-enviar{
  display: flex;
  justify-content: center;
  max-width: 20%;
  height: 10%;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #FD6985;
  box-shadow: 0px 0px 3px 1px #FD6985;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition-property: box-shadow, background-color;
  transition-duration: .4s, .4s;
}

.boton-enviar:hover{
  box-shadow: 0px 0px 3px 1px #e246bb;
  background-color: #e246bb;
  transition: .4s;
}


/* Footer */

footer {
  background-color: #FD6985;
  box-shadow: inset 0 0 15px rgb(107, 104, 104);
}

.footer-nav {
  display: flex;
  justify-content: center;
  background-color: #FD6985;
  padding-top: 4em;
  padding-bottom: 1em;
  overflow: hidden;
}


  .item-2 {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em 0.25em 1em;
  letter-spacing: 8;
}

.item-footer {
  color: white;
  font-size: 1.074rem;
  font-weight: 900;
  letter-spacing: 0.0625em;
}

.icono-footer {
  font-size: 1.5em;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2em;
  border-radius: 2em;
  text-align: center;
  background-color: #FDE169;
  border: 0.0625em solid #fcf8c1e5;
}

.icono-footer:hover {
  border: 0.0625em solid #FD6985;
  color: #FD6985;
}

.contenedor-iconosfooter {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.pie-footer {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-bottom: 2em;
}

/* Responsive*/

/* Trabajos*/

@media (min-width:550px) {

  #caja-padre {
  
  }

  
}



/* Presentacion*/

@media (max-width:1100px) {
  .columna {
    flex-direction: column;
    align-items: center;
  }

  .caja_presentacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    align-items: center;
 
  }

  .imagen-presentacion {
    width: 70%;
   

  }

  .titulo-hola {
   font-size: 2.125em;
  }
  

  .boton-lo-que-hago {
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    font-weight: 700;
    margin: 2em 0 2em 0;
    width: 30%;

  }




}

/* Nav-superior*/

@media (max-width:1100px) {
  header {
    display: none;
  }
}




/* Nav-inferior*/

@media (max-width:700px) {
  .footer-nav {
    display: none;
  }
  .contenedor-iconosfooter {
    padding-top: 3em;
  }
}






/* Frase*/

@media (max-width: 500px) {
  blockquote {
    margin: 0;
  }

  .frase {
    font-size: 1.2em;
  }
  .frase-autora {
  
    font-size: 1.1em;
    
  }

  .icono-frase {
    font-size: 5em;
   
  }
  
}





/* proyectos */

@media (max-width:1000px) {

  #caja-padre-2 {
    justify-content: space-between;
  }
  .caja-2 {
    width: 45%;
    
  }
}

@media (max-width:800px) {
  



  #caja-padre-2 {
    justify-content: center;

  }
  .caja-2 {
    width: 100%;
  }
}



/* Formulario*/

@media (max-width:900px) {
  
  .box-conoc-boxes{
    justify-content: center;
    width: 80%;
}

.box-contacto-principal{
  border: none;
  border-radius: none;
  background-color: #f5f5f5;
  box-shadow: none;
  width: 90%;
  height: 100%;
  display: inline;
  padding: 0em;
}

.box-contacto-contactame{
  justify-content: center;
  width: 100%;
  padding: 0em;
  margin-bottom: 3em;
}

.box-contacto-texto{
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0em;
}

.box-contacto-texto>p{
  width: 100%;
  padding: 0em 8em;
}

.box-contacto-lista{
  justify-content: center;
}

.box-contacto-lista>ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;     
}

.box-contacto-lista>ul>li{
  width: 40%;     
}

.box-contacto-lista>ul>li>.box-contacto-links{
  text-align: center;
}

.box-contacto-escribime{
  width: 100%;
  padding: 0em 0em 2em 0em;
}

.box-contacto-escribime>h2{
  text-align: center;
}

.boton-enviar{
  margin-top: .5em;
  padding: .5em;
  width: 15%;
}

.box-textarea{
  margin-bottom: 0;
}

.box-textarea>textarea{
  height: 10em;  
}

.box-contacto-links>.fa-instagram, .box-contacto-links>.fa-github-alt, .box-contacto-links>.fa-linkedin-in, .box-contacto-links>.fa-envelope{
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}
     
}


@media (max-width: 854px){
  .box-contacto-lista>ul{
      width: 100%;
  }
}

@media (max-width: 776px) {
  .box-contacto-lista>ul>li{
      width: 50%;
  }
}


@media (max-width: 738px){
   .box-contacto-texto>p{
     padding: 0em 3em;
  }

}


@media (max-width: 615px){
  .box-contacto-lista{
      display: flex;
      align-content:space-around;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0.5em;
  }
   
  .box-contacto-lista>ul>li{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: .2em 0em .2em .1em;
      list-style: none;
  }
}


@media (max-width: 480px){
 

  .box-contacto-texto>p{
      padding: 0em;
  }

}

@media (max-width:500px) {
 
  .titulo-escribime  { 
    display: flex;
    flex-direction: column;
    
    }

  .contenedor-nombre-apellido  { 
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
  }

  .caja-email   { 
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em ;
    }

    .caja-comentario  { 
      display: flex;
      flex-wrap: wrap;
      padding: 0 1em;
      }
  
  .caja-nombre {
    width: 100%;
  }

  div.caja-apellido {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .caja-apellido {
    width: 100%;
  }

  input.nombre-input-1{
    
    max-width: 100%;
     }


     .boton-formulario-2 {
      padding:0 1em;
      
    
    }
    .mi-nombre {
      font-size: 2rem;
    }
  
    .mi-descripcion {
      font-size: 1.2rem;
    }

    .titulo-escribime {
      font-size: 1.2rem;
    }
    .mi-descripcion {
      font-size: 1rem;
    } 
    .imagen-presentacion {
      width: 50%;
      min-width: none;
    } 

}




=======
/*------------------ GENERAL----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  box-shadow: inset 0 0 0.9375em rgb(107, 104, 104);
}

main {
  background-color: rgb(253, 241, 227);
}

h1, 
h2 {
  color: #FD6985;
  font-size: 3em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
 
}

a:-webkit-any-link {
  cursor: pointer;
}

/*SECCION */

section {
  text-align: center;
}

.section-container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6em 1em 0 1em;
}

.section-container-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6em 1em 0 1em;
}

.parrafo-caja {
  font-size: 1.25em;
  font-weight: 600;
  padding-top: 0.7em;
}

.parrafo-caja2 {
  font-size: 1em;
  padding-top: 0.7em;
}
/*------------------ HEADER----------------- */

nav {
  display: flex;
  width: 100%;
  padding: 2em 5em;
  position: fixed;
  background-color: white;
  justify-content: flex-end;
  box-shadow: 0.0625em 0.0625em 1.25em rgb(212, 208, 208);
}

/* --items-nav-- */

.item {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em 0.25em 1em;
  letter-spacing: 8;
}

.i-activo:active{
  border: 1px solid #FD6985;
  border-radius: 1em;
}

.link_item{
  text-decoration: none;
  color: rgb(88, 85, 85);
  margin-right: 0.8em;
  list-style: none;
  font-size: 1.2em;
  letter-spacing: 0.0625em;
  padding-left: 1em;
  line-height: 1.5;
}

.link_item:hover{
  color: #FD6985;
}

.boton-contacto {
  width: 10%;
  background-color: #FD6985;
  border-radius: 28px;
  padding: 0.6em 1em;
  outline: none;
}

.boton-contacto:focus {
  border: 0.0625em solid rgb(88, 85, 85);
  border-radius: 1.25em;
  padding: 0.5em 1em;
}

a.item:active {
  transition: 0.2s;
  border: 0.0625em solid #FD6985;
  box-shadow: 0.0625em 0.0625em  0.0625em #FD6985;
  border-radius: 28px;
  padding: 0.2em 1em;
}

a.boton-contacto:hover {
  color: white;
  transition: 0.2s;
  background-color: #FD6985;
  opacity: 0.9;
  transition: 0.2s;
}

/*BARRA NAVEGACIÒN FIN */

/*SOBRE MI INICIO */

.columna {
  margin: 6em 10em;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content:space-around;
}

.caja_presentacion {
  width: 45%;
  min-width: 500px;
  
}

.imagen-presentacion {
  width: 45%;
  min-width: 500px;
}

/*--TITULO HOLA SOY -banner-- */

.titulo-hola {
  display: flex;
  align-content: flex-start;
  font-size: 3.125em;
  font-weight: 550;
  margin: 0 0 0 0;
}

.mi-nombre {
  display: flex;
  align-content: flex-start;
  font-size: 3.5em;
  font-weight: 900;
  color: #FD6985;
  margin: 0.05em 0 0 0;
  font-family: 'Montserrat', sans-serif;
}

.mi-descripcion {
  display: flex;
  color: gray;
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 0.7em;
}

.boton-lo-que-hago {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 39%;
  background-color: #FD6985;
  color: white;
  border-radius: 28px;
  padding: 1em 1em;
  font-size: 0.96em;
  font-weight: 700;
  margin: 2.2em 0 2.2em 0;
  transition: 0.2s;
  outline: none;
}

a.boton-lo-que-hago:hover {
  background-color: #FD6985;
  opacity: 0.9;
  transition: 0.2s;
}

/*SOBRE MI FIN */

/*MIS CONOCIMIENTOS INICIO */

.columna-2 {
 
  width: 100%;
  margin-bottom: 2em;
}

.texto-conoc {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2em;
  display: inline-block;
  justify-content: center;
  padding: 1em;
}

#caja-padre {
  width: 100%;
  padding: 1em ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja {
  background-color: rgb(245, 242, 215);
  width: 23%;
  min-width: 300px;
  margin: 1em;
  padding: 3em 0;
  border: 0.0625em solid #e9ecf7;
  border-radius: 9px;
  justify-content: space-evenly;
}

.caja:hover {
  border: 0.0625em solid #FD6985;
  color: #FD6985;
  box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
  border-radius: 10px;
}

.icono-conoc {
  font-size: 5em;
  justify-content: center;
}

.titulo-h2 {
  margin: 0 0 0.37em 0;
}

/* Caja-conocimientos  */

/* Caja-frase  */

.columna-3 {
  margin: 0 3.5em;
  width: 100%;
  background-color: #FD6985;
  display: flex;
  flex-direction: column;
}

#contenedor-info {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FD6985;
  padding: 6em 1em;
}

.icono-frase {
  font-size: 6em;
  color: #e9ecf7;
  justify-content: center;
  margin-bottom: 0.3em;
}

.frase {
  display: inline-block;
  justify-content: center;
  color: #e9ecf7;
  padding-bottom: 2em;
  font-size: 1.4rem;
  max-width: 800px;
}

.frase-autora {
  color: #e9ecf7;
  font-size: 1.5em;
  font-weight: 1000;
}

/* mis-trabajos */

.columna-4 {
  margin: 6em 3.5em;
  width: 100%;
}

#caja-padre-2 {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caja-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 242, 215);
  margin: 0.65em;
  padding: 3em 0.5em;
  border: 0.0625emsolid #e9ecf7;
  border-radius: 9px;
  align-items: center;
}

.caja-2:hover {
  border: 0.0625em solid #FD6985;
  color: #FD6985;
  box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
  border-radius: 10px;
}

.texto-proyectos {
  max-width: 450px;
  line-height: 1.5;
  font-size: 1.2em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.titulo-h2 {
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.img-conoc {
  width: 50%;
}

/* Contacto */

.columna-5 {
  margin: 0 10em 10em 10em;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  border: 2px solid #e0e0e0;
  border-radius: 1.25em;
  padding: 1em 2em;
  justify-content: space-evenly
}

#contactame-texto {
  width: 40%;
  margin-right: 2em;
}

#contactame-escribime{
  width: 60%;
  
}

.item-contacto {  
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 1em;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 0.3em;
  
}

.item-contacto:active{
  border: 1px solid #FD6985;
  border-radius: 1.5em;

}

.item-contacto a {
  color: rgb(88, 85, 85);
  margin-bottom: 0.5em;
}


.a_contacto:hover {
  color: #FD6985;
}
.texto-contactame {
  font-size: 1.3rem;
  display: flex;
  text-align: left;
  line-height: 1.5;
  color: rgb(88, 85, 85);
}

.texto.contactame, .titulo-escribime {
  display: flex;
  margin-bottom: 1em;
}

.icono-form {
  font-size: 1em;
  color: #FD6985;
  padding: 0.3em;
  border-radius: 1em;
  text-align: center;
  background-color: white;
  border: 0.0625em solid #fcf8c1e5;
}

.icono-form:hover {
  background-color: #FDE169;
  border: 0.0625em solid #FDE169 ;
  color: rgb(255, 255, 255);
 
}

.caja-redesform {
  margin-top: 2em;
  padding-left: 0.5em;
 }
 



/* Formulario*/

label {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.7em 0 0.6em 0;
}

.contenedor-nombre-apellido {
  display: flex;
  justify-content: flex-start;
}

.caja-nombre .label-name {
  display: flex;
}

.caja-apellido .label-name {
  display: flex;
  text-align: left;
}

div.caja-apellido {
  margin-left: 2em;
}

.caja-email .label-name {
  display: flex;
  margin-top: 1em;
  text-align: left;
}

input.nombre-input-3 {
  display: flex;
  justify-content: left;
}

input {
  width: 100%;
  padding: 0.8em 2.5em;
  transition: 0.2s;
  background-color: rgba(245, 229, 229, 0.678);
  border: 0.5px solid #f7e5e8;
  border-radius: 1.5em;
  box-shadow: 0 0 0.2em 0 #f8abb9 inset;
  transition: 0.2s;
  display: block;
  outline: none;
}


input:focus {
  box-shadow: 0em 0em 0.3125em 0.0625em #FD6985;
  outline: 0.0625em #FD6985;
}

.nombre-input-3 {
  padding-right: 22em;
}

.caja-comentario {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 0.5em;
}

textarea {
  max-width: 100%;
  margin-top: 1em;
  border: 0.0625em solid #FD6985;
  border-radius: 1.5em;
  background-color: rgba(245, 223, 223, 0.637);
  transition: 0.2s;
  padding-left: 2em;
  padding-top: 0.5em;
  outline: none;
}


textarea:focus {
  box-shadow: 0em 0em 0.3125em 0.0625em #FD6985;
  outline: 0.0625em #FD6985;
}

.boton-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FD6985;
  color: white;
  border-color: wheat;
  border-radius: 6.25em;
  padding: 0.5em 2em;
  font-size: 1.2em;
  font-weight: 700;
  margin: 2em 0 2em 0;
  outline: none;
  cursor: pointer;
}

.boton-formulario:hover {
  background-color: #FD6985;
  opacity: 0.9;
  transition: 0.2s;
}

/* Footer */

footer {
  background-color: #FD6985;
  box-shadow: inset 0 0 15px rgb(107, 104, 104);
}

.footer-nav {
  display: flex;
  justify-content: center;
  background-color: #FD6985;
  padding-top: 4em;
  padding-bottom: 1em;
  overflow: hidden;
}


  .item-2 {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em 0.25em 1em;
  letter-spacing: 8;
}

.item-footer {
  color: white;
  font-size: 1.074rem;
  font-weight: 900;
  letter-spacing: 0.0625em;
}

.icono-footer {
  font-size: 1.5em;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2em;
  border-radius: 2em;
  text-align: center;
  background-color: #FDE169;
  border: 0.0625em solid #fcf8c1e5;
}

.icono-footer:hover {
  border: 0.0625em solid #FD6985;
  color: #FD6985;
}

.contenedor-iconosfooter {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.pie-footer {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-bottom: 2em;
}

/* Responsive*/

/* Trabajos*/

@media (min-width:550px) {

  #caja-padre {
  
  }

  
}



/* Presentacion*/

@media (max-width:1100px) {
  .columna {
    flex-direction: column;
    align-items: center;
  }

  .caja_presentacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    align-items: center;
 
  }

  .imagen-presentacion {
    width: 70%;
   

  }

  .titulo-hola {
   font-size: 2.125em;
  }
  

  .boton-lo-que-hago {
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    font-weight: 700;
    margin: 2em 0 2em 0;
    width: 30%;

  }






}

/* Nav-superior*/

@media (max-width:1100px) {
  header {
    display: none;
  }
}




/* Nav-inferior*/

@media (max-width:700px) {
  .footer-nav {
    display: none;
  }
  .contenedor-iconosfooter {
    padding-top: 3em;
  }
}






/* Frase*/

@media (max-width: 500px) {
  blockquote {
    margin: 0;
  }

  .frase {
    font-size: 1.2em;
  }
  .frase-autora {
  
    font-size: 1.1em;
    
  }

  .icono-frase {
    font-size: 5em;
   
  }
  
}





/* proyectos */

@media (max-width:1000px) {

  #caja-padre-2 {
    justify-content: space-between;
  }
  .caja-2 {
    width: 45%;
    
  }
}

@media (max-width:800px) {
  



  #caja-padre-2 {
    justify-content: center;

  }
  .caja-2 {
    width: 100%;
  }
}



/* Formulario*/

@media (max-width:900px) {
  .columna-5 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: 0;
  }


  .contactame-escribime {
    margin: 2em;
    
  }

  .lista-contacto {
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
  }

  .item-contacto {
    width: 100%;
     }

    .icono-form .item-contacto {
     
      width: 100%;
       }
  

       input {
        width: 80%;
       
      }

      
      textarea {
        max-width: 80%;
     
      }
}



@media (max-width:500px) {
 

       input {
        width: 50%;
      }

      textarea {
        max-width: 50%;
     
      }


}
>>>>>>> 53b3cb5248e8224d4ee352ec867cb55c1bc81929
