/*------------------ GENERAL----------------- */
:root {
  --color-fondo: #e263dc;
  --color-primario: #ff6868;
  --color-secundario: #002a37;
  --color-formulario: #ff686883;
  --ancho-maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  box-shadow: inset 0 0 0.9375em rgb(107, 104, 104);
}

main {
  background-color: var(--color-fondo);
}

h1,
h2 {
  color: var(--color-primario);
  font-size: 3em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

a:-webkit-any-link {
  cursor: pointer;
}

/*------------------ SECCIONES----------------- */

section {
  text-align: center;
}

.section-container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6em 1em 0 1em;
}

.section-container-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
  box-shadow: inset -5px -10px 20px 0px #a3a3a3;
  background-color: rgb(255, 255, 241);
}
.section-container-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
}

.section-container-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1em 0 1em;
  background-color: rgb(255, 255, 241);
  box-shadow: inset -5px -10px 20px 0px #a3a3a3;
}

.section-container-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6em 1em 0 1em;
}

.parrafo-caja {
  font-size: 1.25em;
  font-weight: 600;
  padding-top: 0.7em;
}

.parrafo-caja2 {
  font-size: 1.4em;
  padding-top: 0.7em;
}

/*------------------ HEADER----------------- */

nav {
  display: flex;
  width: 100%;
  padding: 2em 5em;
  position: fixed;
  background-color: var(--color-secundario);
  justify-content: flex-end;
  box-shadow: 0.0625em 0.0625em 1.25em rgb(212, 208, 208);
}

/* --items-nav-- */

.item {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em 0.25em 1em;
  letter-spacing: 8;
}

.link_item {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  list-style: none;
  font-size: 1.2em;
  letter-spacing: 0.0625em;
  line-height: 1.5;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  padding-bottom: 3px;
}

.link_item:hover {
  border-bottom: 2px solid var(--color-primario);
}

.boton-contacto {
  width: 10%;
  background-color: var(--color-primario);
  border-radius: 28px;
  padding: 0.6em 1em;
  outline: none;
  font-weight: bold;
}

.boton-contacto:focus {
  border: 0.0625em solid none;
  border-radius: 1.25em;
  padding: 0.5em 1em;
}

a.item:active {
  transition: 0.2s;
  border: 0.0625em solid var(--color-primario);
  box-shadow: 0.0625em 0.0625em 0.0625em none;

  border-radius: 28px;
  padding: 0.2em 1em;
}

/* .boton-contacto:hover {
  color: white;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: var(--color-primario);
  text-decoration: none;
  border-color: var(--color-secundario);
  opacity: 0.9;
  transition: 0.2s;
} */

/*------------------  SECCION SOBRE MI----------------- */

.columna {
  margin: 6em 10em 4em 10em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.caja_presentacion {
  width: 45%;
  min-width: 500px;
  margin-top: 5em;
}

.imagen-presentacion {
  width: 45%;
  min-width: 500px;
}

/*--TITULO -- */

.titulo-hola {
  display: flex;
  align-content: flex-start;
  font-size: 3.125em;
  font-weight: 550;
  margin: 0 0 0 0;
}

.mi-nombre {
  display: flex;
  align-content: flex-start;
  font-size: 3.5em;
  font-weight: 900;
  color: var(--color-primario);
  margin: 0.05em 0 0 0;
  font-family: "Montserrat", sans-serif;
}

.mi-descripcion {
  display: flex;
  color: #3d3d3d;
  font-size: 1.8em;
  font-weight: 300;
  padding-top: 0.7em;
  line-height: 1.5;
  text-align: left;
}

.boton-lo-que-hago {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 39%;
  background-color: var(--color-primario);
  color: white;
  border-radius: 28px;
  padding: 1em 1em;
  font-size: 0.96em;
  font-weight: 700;
  margin: 2.2em 0 2.2em 0;
  transition: 0.2s;
  outline: none;
}

a.boton-lo-que-hago:hover {
  background-color: var(--color-secundario);
  transition: 0.4s;
  opacity: 0.9;
}

/*------------------  MIS CONOCIMIENTOS----------------- */

.columna-2 {
  width: 100%;
  margin-bottom: 2em;
}

.texto-conoc {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.5rem;
  display: inline-block;
  justify-content: center;
  color: #3d3d3d;
  padding: 1em;
}

#caja-padre {
  width: 100%;
  padding: 3em 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja {
  background-color: rgba(255, 255, 255, 0.521);
  width: 25%;
  box-shadow: 0px 0px 8px 2px #a8a8a8;
  min-width: 300px;
  margin: 1em;
  padding: 3em 0;
  border: 0.0625em solid #e9ecf7;
  border-radius: 9px;
  justify-content: space-evenly;
}

.icono-conoc {
  font-size: 5em;
  justify-content: center;
}

.titulo-h2 {
  margin: 0 0 0.37em 0;
}

.caja:hover {
  border: 0.0625em solid var(--color-primario);
  color: var(--color-primario);
  box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
  border-radius: 10px;
}

/*------------------ FRASE ----------------- */

.columna-3 {
  margin: 0 3.5em;
  width: 100%;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
}

#contenedor-info {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primario);
  padding: 6em 1em;
}

.icono-frase {
  font-size: 6em;
  color: white;
  justify-content: center;
  margin-bottom: 0.3em;
}

.frase {
  display: inline-block;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 2em;
  font-size: 1.8rem;
  max-width: 800px;
}

.frase-autora {
  color: #e9ecf7;
  font-size: 1.4rem;
  font-weight: 1000;
}

/*------------------ MIS PROYECTOS ---------------- */

.columna-4 {
  margin: 6em 3.5em;
  width: 100%;
}

#caja-padre-2 {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caja-2 {
  cursor: pointer;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0.65em;
  padding: 3em 0.5em;
  border: 0.0625emsolid #e9ecf7;
  border-radius: 9px;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #a8a8a8;
}

.caja-2:hover {
  border: 0.0625em solid var(--color-primario);
  color: var(--color-primario);
  box-shadow: rgb(209, 209, 209) 3px 3px 16px 3px;
  border-radius: 10px;
}

.texto-proyectos {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2rem;
  display: inline-block;
  justify-content: center;
  color: #3d3d3d;
  padding: 1em;
}

.titulo-h2 {
  font-weight: 700;
  margin-top: 3em;
  text-align: center;
}

.img-conoc {
  width: 50%;
}

/*------------------ FORULARIO ---------------- */

.secc-contacto {
  background-color: #f5f5f5;
  box-shadow: inset -5px -10px 20px 0px #a3a3a3;
  display: flex;
  width: 100%;
  height: 90%;
  padding: 9.375em 2.5em;
  text-align: center;
  justify-content: center;
}

.caja-contacto-principal {
  background: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #a8a8a8;
  padding: 4.375em 3.125em;
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

/*--CAJA CONTACTAME-- */

.caja-contactame {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-right: 1.25em;
}

.caja-contacto-texto {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding-right: 1.25em;
}

.caja-contacto-texto > h2 {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.caja-contacto-texto > p {
  font-size: 1.063rem;
  width: 90%;
  margin-bottom: 0.5em;
  line-height: 23px;
  color: #000;
}

.caja-contacto-lista {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5em;
}

.caja-contacto-lista > ul > li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.2em 0em 0.2em 0.1em;
  list-style: none;
}

.caja-contacto-links {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  align-items: center;
  color: #000;
  padding: 0.1em 0.2em;
}

.caja-contacto-links:active {
  border: 1px solid var(--color-secundario);
  border-radius: 28px;
  box-shadow: 0px 0px 5px 0px #8b858660;
  padding: 0.2em 0.6em;
}

.caja-contacto-links > .fa-instagram,
.caja-contacto-links > .fa-github-alt,
.caja-contacto-links > .fa-linkedin-in,
.caja-contacto-links > .fa-envelope {
  font-size: 2rem;
  margin-right: 0.2em;
  text-align: center;
  color: var(--color-primario);
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 0.2em;
}

/***** Hover CONTACTAME ****************/

.caja-contacto-links:hover {
  color: var(--color-primario);
}

.caja-contacto-links:hover .fa-instagram,
.caja-contacto-links:hover .fa-github-alt,
.caja-contacto-links:hover .fa-linkedin-in,
.caja-contacto-links:hover .fa-envelope {
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-secundario);
  border: 1px solid var(--color-primario);
  color: #ffffff;
  transition: 0.3s;
}

/*--CAJA ESCRIBIME-- */

.caja-contacto-escribime {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-left: 1.25em;
}

.caja-contacto-escribime > h2 {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

label {
  font-size: 1rem;
  font-weight: 700;
}

.caja-contenedor-nombre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  margin-bottom: 0.8em;
}

.caja-nombre {
  flex: 0 1 45%;
  height: 100%;
  margin: 0em 0.5em 0.5em 0em;
}

.caja-nombre > input {
  width: 100%;
  border: 1px solid var(--color-primario);
  background-color: #f8cf7636;
  border-radius: 20px;
  padding: 0.5em 0.8em;
  margin-top: 0.6em;
  outline-style: none;
}

.caja-nombre > input:focus {
  box-shadow: 0px 0px 2px 2px #ff68683a;
  background-color: #f8cf7636;
  transition: 0.1s;
}

.caja-apellido {
  flex: 0 1 45%;
  height: 100%;
  margin: 0em 0em 0.5em 0.5em;
}

.caja-apellido > input {
  width: 100%;
  border: 1px solid var(--color-primario);
  background-color: #f8cf7636;
  border-radius: 20px;
  padding: 0.5em 0.8em;
  margin-top: 0.6em;
  outline-style: none;
}

.caja-apellido > input:focus {
  box-shadow: 0px 0px 2px 2px #ff68683a;
  background-color: #f8cf7636;
  transition: 0.1s;
}

.caja-email {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 15%;
  margin-bottom: 0.8em;
}

.caja-email > input {
  width: 100%;
  border: 1px solid var(--color-formulario);
  background-color: #f8cf7636;
  border-radius: 20px;
  padding: 0.5em 0.8em;
  margin: 0.6em 0em;
  outline-style: none;
}

.caja-email > input:focus {
  box-shadow: 0px 0px 2px 2px #ff68683a;
  background-color: #f8cf7636;
  transition: 0.1s;
}

.caja-textarea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  margin-bottom: 0.8em;
}

.caja-textarea > textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 80%;
  max-height: 80%;
  border: 1px solid var(--color-formulario);
  background-color: #f8cf7636;
  border-radius: 20px;
  padding: 0.5em 0.8em;
  margin: 0.6em 0em;
  outline-style: none;
  resize: none;
}

.caja-textarea > textarea:focus {
  box-shadow: 0px 0px 2px 2px #ff68683a;
  background-color: #f8cf7636;
  transition: 0.1s;
}

.boton-enviar {
  display: flex;
  justify-content: center;
  max-width: 30%;
  height: 10%;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--color-primario);
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;

  transition-duration: 0.4s, 0.4s;
  margin-top: 1em;
  padding: 0.5em 0.3em;
}

.boton-enviar:hover {
  background-color: var(--color-secundario);
  transition: 0.4s;
}

/*------------------ FOOTER ---------------- */

footer {
  background-color: var(--color-secundario);
  box-shadow: inset 0 0 15px rgb(107, 104, 104);
}

.footer-nav {
  display: flex;
  justify-content: center;

  padding-top: 4em;
  padding-bottom: 1em;
  overflow: hidden;
}

.item-2 {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em 0.25em 1em;
  letter-spacing: 8;
}

.item-footer {
  padding-bottom: 3px;
}

.item-footer:hover {
  transition: 0.2s;
  border-bottom: 2px solid var(--color-primario);
}

.item-footer {
  color: white;
  font-size: 1.074rem;
  font-weight: 900;
  letter-spacing: 0.0625em;
}

.icono-footer {
  font-size: 1.5em;
  color: var(--color-secundario);
  border-radius: 50%;
  padding: 0.2em;
  border-radius: 2em;
  text-align: center;
  background-color: white;
  border: 0.0625em solid #fcf8c1e5;
}

.icono-footer:hover {
  border: 0.0625em solid var(--color-primario);
  color: var(--color-primario);
}

.contenedor-iconosfooter {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.pie-footer {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-bottom: 2em;
}

/*------------------ RESPONSIVE ---------------- */

/* 1100 */
@media (max-width: 1100px) {
  .link_item {
    font-size: 1em;
  }

  .columna {
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
  }
  .caja_presentacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    align-items: center;
  }
  .imagen-presentacion {
    width: 70%;
  }
  .titulo-hola {
    font-size: 2.125em;
  }
  .boton-lo-que-hago {
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    font-weight: 700;
    margin: 2em 0 2em 0;
    width: 30%;
  }
}

/* 1000 */

@media (max-width: 1000px) {
  #caja-padre-2 {
    justify-content: space-between;
  }
  .caja-2 {
    width: 45%;
  }

  h2 {
    font-size: 2em;
  }
}

/* 900 */

@media (max-width: 900px) {
  .caja-contacto-principal {
    border: none;
    border-radius: none;
    background-color: #f5f5f5;
    box-shadow: none;
    width: 90%;
    height: 100%;
    display: inline;
    padding: 0em;
  }
  .caja-contactame {
    justify-content: center;
    width: 100%;
    padding: 0em;
    margin-bottom: 3em;
  }
  .caja-contacto-texto {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0em;
  }
  .caja-contacto-texto > p {
    width: 100%;
    padding: 0em 8em;
  }
  .caja-contacto-lista {
    justify-content: center;
  }
  .caja-contacto-lista > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }
  .caja-contacto-lista > ul > li {
    width: 40%;
  }
  .caja-contacto-lista > ul > li > .caja-contacto-links {
    text-align: center;
  }
  .caja-contacto-escribime {
    width: 100%;
    padding: 0em 0em 2em 0em;
  }
  .caja-contacto-escribime > h2 {
    text-align: center;
    font-size: 3.1rem;
  }
  .boton-enviar {
    margin-top: 0.5em;
    padding: 0.5em;
    /* width: 15%; */
  }
  .caja-textarea {
    margin-bottom: 0;
  }
  .caja-textarea > textarea {
    height: 10em;
  }
  .caja-contacto-links > .fa-instagram,
  .caja-contacto-links > .fa-github-alt,
  .caja-contacto-links > .fa-linkedin-in,
  .caja-contacto-links > .fa-envelope {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }

  nav {
    padding: 2em 1em;
  }

  .columna {
    margin-top: 2em;
  }
}

/* 850 */

@media (max-width: 850px) {
  #caja-padre {
    padding: 0;
  }
  .caja {
    width: 30%;
    min-width: 190px;
  }
  .icono-conoc {
    font-size: 3em;
    justify-content: center;
  }
  .caja_presentacion {
    min-width: 300px;
  }

  .caja-contacto-lista > ul {
    width: 100%;
  }
}

/* 800 */

@media (max-width: 800px) {
  #caja-padre-2 {
    justify-content: center;
  }
  .caja-2 {
    width: 100%;
  }

  .link_item {
    margin: 0 10px;
  }
}

/* 700 */

@media (max-width: 700px) {
  header {
    display: none;
  }

  .footer-nav {
    display: none;
  }
  .contenedor-iconosfooter {
    padding-top: 3em;
  }

  .caja-contacto-lista > ul > li {
    width: 50%;
  }

  .caja-contacto-texto > p {
    padding: 0em 3em;
  }
}

/* 620 */

@media (max-width: 620px) {
  .caja-contacto-lista {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.5em;
  }
  .caja-contacto-lista > ul > li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0em 0.2em 0.1em;
    list-style: none;
  }

  #caja-padre-2 {
    padding: 0;
  }
  .columna-4 {
    margin: 0;
  }

  .columna {
    margin-top: 1em;
  }
}

/* 500 */

@media (max-width: 500px) {
  blockquote {
    margin: 0;
  }

  .secc-contacto {
    padding: 5.375em 2.5em;
  }

  .frase {
    font-size: 1.2em;
  }
  .frase-autora {
    font-size: 1.1em;
  }
  .icono-frase {
    font-size: 5em;
  }

  .boton-lo-que-hago {
    width: 50%;
  }
  h2 {
    font-size: 2rem;
  }
  .caja-contacto-texto > h2 {
    font-size: 2rem;
  }
  .caja-contacto-escribime > h2 {
    font-size: 2rem;
  }
  .titulo-escribime {
    display: flex;
    flex-direction: column;
  }
  .contenedor-nombre-apellido {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
  }
  .caja-email {
    display: flex;
    flex-wrap: wrap;
  }
  .caja-comentario {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
  }
  .caja-nombre {
    width: 100%;
  }
  div.caja-apellido {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .caja-apellido {
    width: 100%;
  }
  input.nombre-input-1 {
    max-width: 100%;
  }
  .boton-formulario-2 {
    padding: 0 1em;
  }
  .mi-nombre {
    font-size: 2rem;
  }
  .mi-descripcion {
    font-size: 1.2rem;
  }
  .titulo-escribime {
    font-size: 1.2rem;
  }
  .mi-descripcion {
    font-size: 1rem;
  }
  .imagen-presentacion {
    width: 50%;
    min-width: 300px;
  }
}

/* 480 */

@media (max-width: 480px) {
  .caja-contacto-texto > p {
    padding: 0em;
  }
  .columna {
    margin-top: -6em;
  }
}

/* 300 */

@media (max-width: 300px) {
  .imagen_presentacion {
    min-width: 100px;
  }
}
